<div class="panel panel-default">
<div id="fb-root"></div>

	<div class="panel-body">
		<div class="row">
  			<div class="col-md-9">
  				<h1>About Touchy</h1>
  				<p>The edgy bot that’s your best friend, doctor and confidante all in one.
            She’s sassy, bold and sexy and wants to talk about your boobs.</p>
          <p>When’s the last time you got physical with yourself?</p>
        <%= link_to "Back", root_path, :class => "btn btn-default"  %>
		    </div>
	  </div>
  </div>
</div>
