<div class="panel panel-default">
<div id="fb-root"></div>

	<div class="panel-body">
		<div class="row">
  			<div class="col-md-9">
  				<h1>About Touchy</h1>
  				<p>Enter content here!</p>
        <%= link_to "Back", root_path, :class => "btn btn-default"  %>
		    </div>
	  </div>
  </div>
</div>
