<div class="jumbotron center">
  <div class="container-fluid">
    <div class="col-xs-12 centerfy">
      <img style="max-width:220px;" src = <%= asset_path('Chat_image.png') %> class="img-responsive">
    </div>
  </div>
</div>
<%= render '/layouts/footer' %>
