<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-xs-3 col-centered">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3 col-centered">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3 col-centered">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
      </div>
      <div class="col-xs-3 col-centered">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</nav>
