<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-xs-4 col-centered">
        <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true" style="color:white"></span>
      </div>
      <div class="col-xs-4 col-centered">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color:white"></span>
      </div>
      <div class="col-xs-4 col-centered">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="color:white"></span>
      </div>
    </div>
  </div>
</nav>
